* {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  text-align: center;
}

button {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 0.5em;
}

button:hover {
  background-color: #45a049;
}

button:active {
  background-color: #3e8e41;
}
